.noUi-handle{
  width: 22px!important;
  height: 22px!important;
  background-color: #6c757d;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  box-shadow: none;

  &:before, &:after{
    content: none;
  }
}

.noUi-connect{
  background-color: #90CAF9;
}

.noUi-target{
  background-color: #e8efe9;
  height: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  padding-right: 10px;
}