.inner__title {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, calc(-50% - 5px));
  background-color: inherit;
  padding: 0px 10px;

  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}