.form__input {
  $search-icon-size: 20px;
  $search-input-padding: 10px;

  border: solid 1px #ccc;
  padding: $search-input-padding 0;
  padding-left: $search-icon-size + $search-input-padding * 2;
  font-size: 18px;
  line-height: 1.15;
  border-radius: 10em;
  outline: none;
  width: $search-input-padding + $search-icon-size;
  transition: all .5s ease-in-out;
  transition-property: width, border-color, padding-right, background-color, color;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  background-color: white;
  color: black;

  &:focus{
    border-color: #232222;
    width: 200px;
    padding-right: $search-input-padding;
    background-color: #232222;
    color: white;

    & + .search__icon{ color: white };
  }
}