.inner {
  &_task {
    &_4 {
      background-color: gray;
      padding: 20px 0px;
    }

    &_7 {
      border: 5px solid black;
      padding: 20px;
      margin-top: 30px;
      background-color: white;

      position: relative;
    }
  }
}