.form__icon{
  $search-icon: '\2764';
  $search-icon-size: 20px;
  $search-input-padding: 10px;

  position: absolute;
  left: $search-input-padding;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-style: normal;
  transition: color .5s ease-in-out;
  color: black;

  &:before{
    content: $search-icon;
  }
}
