.section{
  width: 100%;
  float: right;
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  background: #4CAF50;

  img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: 992px){
    max-width: calc(100% - #{15px + 250px});
  }
}
