.authorization__inner {
  &_task {
    &_2 {
      width: 500px;
    }
  }

  &_second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_third {
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &_fourth {
    margin: 0 auto;
    max-width: 500px;
  }

  &_fifth {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}