$icon-size: 50px;
.rating__label {
  float: right;
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover{
    color: orange;
  }

  &:before{
    content: '\2606';
    display: inline-block;
    font-size: $icon-size;
    line-height: 1;
  }

  &:nth-of-type(2n):before{
    position: absolute;
    left: 0;
    top: 0;
    width: $icon-size / 2.5;
    overflow: hidden;
  }
}