.wrapper {
  &_task_9 {
    max-height: 300px;
    overflow: auto;
    margin: 20px;
    border-bottom: 1px solid #C5CAE9;
  }

  &_task_14 {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}