.rating {
  display: inline-block;
  position: relative;

  &.disabled{
    pointer-events: none;
  }
}

.rating__label:hover ~ .rating__label, .rating__input:checked ~ .rating__label{
  color: orange;
}