.sale__icon {
  width: 130%;
  text-align: center;
  color: #fff;
  background-color: red;
  text-transform: uppercase;
  transform: rotate(45deg);
  position: relative;
  padding: 2px 0;
  left: 2px;
  bottom: -8px;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .4);
  &:before,
  &:after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 3px solid darkred;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -5px;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}