.table__th {
  padding: 5px 10px;
  text-align: left;
  background-color: #1A237E;
  color: #fff;
  border-bottom: 1px solid #1A237E;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th + .table__th {
  border-left: 1px solid #C5CAE9;
}