@import url('https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css');

.select2{
  width: 100%;

  .select2-selection{
    height: 38px;

    .select2-selection__rendered{
      line-height: 1.5;
      color: inherit;
      padding-left: 0;
    }

    .select2-selection__arrow{
      height: 100%;
      width: 30px;
    }

    .select2-selection__rendered {
      line-height: 2;
    }
  }

}
.form-control{

  &__dropdown{
    .select2-search__field{
      outline: none;
    }
  }
}