.shadow-text {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 45px, white);
  }
}