[data-toggle="ellipsis"] {
  $countRow: 4;
  $line-height: 1.5;
  $font-size: 16px;
  font-size: $font-size;
  line-height: $line-height;
  height: 100%;
  max-height: ($line-height * $font-size) * $countRow;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $countRow;
  -webkit-box-orient: vertical;
}