.control-wrapper__label {
  $control-padding-x: 10px;
  $control-padding-y: 5px;
  $control-border-width: 2px;

  position: absolute;
  left: $control-padding-x;
  top: $control-padding-y + $control-border-width;
  transition: all .3s ease-in-out;
  transition-property: transform, font-size;
  font-size: 16px;
  line-height: 1;
  cursor: text;
  background: inherit;
}