.control-wrapper__input {
  $control-padding-x: 10px;
  $control-padding-y: 5px;
  $control-border-width: 2px;
  $control-label-size: 12px;
  $control-label-offset: 5px;

  outline: none;
  border: none;
  border-top: $control-border-width solid #ccc;
  border-bottom: $control-border-width solid #ccc;
  padding: $control-padding-y $control-padding-x;
  background: inherit;

  &:focus ~ label, &:not(:placeholder-shown) ~ label{
    transform: translateY(-($control-padding-y + $control-border-width + $control-label-offset + $control-label-size));
    font-size: $control-label-size;
  }
}